


.navbar-brand{
    font-size: 1.5rem;
    text-align: center;
}
.header{
    text-align: left;
    margin-top: 1rem;
}
.text-sec{
    float:left;
    margin-right:0.5rem;
}

.col {
    float: left;
    border-color: black;
    margin-top: 3rem;
    
  }
.img{
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
}
#cusineatils{
    align-content: center;
}
.card{
    margin-left:1rem;
    margin-right: 1rem;
}
